@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.container-navbar {
    border: 1px solid #2196F3;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #2196F3;
}

.burguer-button {
    border: 1px solid #2196F3;
}

/*Home*/
.box-home {
    width: 100%;
    height: auto;
}

.box-home-cards {
    width: 100%;
    height: auto;
    padding: 20px;
}

/*gallery*/

.box-gallery {
    width: 100%;
    height: 300px;
    text-align: center;
    border: 1px solid #2196F3;
}

/*form*/

.box-form {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 500px;
    box-shadow: 5px 5px 20px rgba(199, 189, 189, 0.973);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.container-icon {
    margin: 50px;
}

.social-icon {
    color: rgb(48, 120, 245);
    transition: color 0.2s;
    text-decoration: none;
}

.social-icon:hover {
    color: #1fb839;
}

li {
    margin: 10px;
    text-align: start;
}

/*login-signup*/

.box-signup-login {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}

.box-login {
    width: 30rem;
    box-shadow: 5px 5px 20px rgba(199, 189, 189, 0.973);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.box-AllProducts {
    width: 100%;
    height: auto;
}